<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table>
            <tr>
                <td>id:</td>
                <td>{$data.id}</td>
            </tr>
            <tr>
                <td>标题：</td>
                <td>{$data.title}</td>
            </tr>
            <tr>
                <td>内容：</td>
                <td>{$data.content}</td>
            </tr>
            <tr>
                <td>获取字段title：</td>
                <td>{$title}</td>
            </tr>
        </table>
    </body>
</html>
